@keyframes animate-in {
	0% {
		transform: translateX(100vw);
	}
	100% {
		transform: translateX(0vw);
	}
}

@keyframes animate-out {
	0% {
		transform: translateX(0vw);
	}
	100% {
		transform: translateX(100vw);
	}
}

.show {
	transform: 	translateX(0vw);
	animation: 	animate-in 2s;
}

.hide {
	transform: 	translateX(100vw);
	animation: 	animate-out 2s;
}