// Grid containers

header.site-intro {
	
	display: grid;
	position: absolute;
	
	min-height: 80vh;
	
	padding: 0 200px;
	
	align-content: center;
	
	box-sizing: border-box;
	
}

main.container {
		
	display: 	grid !important;
	position: 	relative;	
	
	min-height: 100vh;
	max-width: 	100vw;
	
	grid-template-rows: 	10px auto 10px;
	grid-template-columns: 	10px auto 10px;
	
	grid-template-areas: 	". . ."
							". content ."
							". . .";
		
}

section#grid {
			
	display:	grid;
    grid-auto-flow: column;
	
	grid-area: 	content;
	
	grid-template-rows: 	repeat(8, 1fr);
	grid-template-columns:	repeat(3, 1fr);
	grid-row-gap: 			10px;
	grid-column-gap: 		10px;
		
	width: 	100%;
	
	overflow: hidden;
}

div.grid-entry {

	display: 	grid;
	
	grid-template-rows: 	1fr 1fr;
	grid-template-columns: 	4fr 1fr;
	
	grid-template-areas: 	"number score"
							"country score";
	
	padding:				5px;

	border-radius: 			15px;
	
	background:					rgba(1, 1, 1, 0.25);
	-webkit-backdrop-filter:	blur(30px);
	backdrop-filter:			blur(30px);
	
	.grid-entry--running-order {
		grid-area:			number;
		align-self: 		flex-start;
		overflow: hidden;
	}
	.grid-entry--name {
		grid-area:			country;
		align-self: 		flex-end;
		overflow: hidden;
	}
	.grid-entry--house-score {
		grid-area:			score;
		align-self: 		flex-end;
		justify-self: 		flex-end;
		overflow: hidden;
	}
}

section#error {
	display: none;
}