// Typography

.grid-entry--running-order {
	font-weight: 		600;
	font-size: 			24px;
	color:				$white;
}

.grid-entry--name {
	font-weight: 		900;
	font-size: 			42px;
	color:				$white;
}

.grid-entry--house-score {
	font-weight: 		900;
	font-size: 			60px;
	color:				$white;
}