// Typography

.grid-entry--running-order {
	font-weight: 		600;
	font-size: 			18px;
	color:				$white;
}

.grid-entry--name {
	font-weight: 		900;
	font-size: 			32px;
	color:				$white;
}

.grid-entry--house-score {
	font-weight: 		900;
	font-size: 			72px;
	color:				$white;
}