// Variables
//
// Variables should follow the `$component-state-property-size` formula for
// consistent naming. Ex: $nav-link-disabled-color and $modal-content-box-shadow-xs.


//
// Color system
//

// stylelint-disable
$true-white:   	 					#ffffff !default;
$white:   	 						#fafafa !default;
$gray-100:	 						#f8f9fa !default;
$gray-200:	 						#e9ecef !default;
$gray-300:	 						#dee2e6 !default;
$gray-400:	 						#ced4da !default;
$gray-500: 	 						#adb5bd !default;
$gray-600: 	 						#868e96 !default;
$gray-700: 	 						#495057 !default;
$gray-800: 	 						#343a40 !default;
$gray-900: 	 						#212529 !default;
$black:    	 						#1d1d1d !default;
$true-black: 	 					#000000 !default;

$blue:								#005ea5;
$pink:								#d53880;
$green:								#006435;
$purple:								#912b88;
$red:								#b10e1e;
$yellow:								#ffbf47;
$orange:								#f47738;
$turquoise:							#28a197;
$silver: 							#dddddd;

// Default colors

$body-background:					$black;
$body-color:						$black;

$body-background-dark-mode:			$black;
$body-color-dark-mode:				$white;

$skiplink-color:					$white;
$skiplink-background:				$black;

$link-color:						$black;
$link-hover-color:					$black;

$link-color-dark-mode:				$white;
$link-hover-color-dark-mode:		$white;

$link-font-weight:					normal;
$link-outline:						none;
$link-text-decoration:				none;
$link-text-decoration-hover:			underline;

$card-background-primary:			$white;
$card-background-secondary:			$gray-200;
$card-color:							$black;

$card-background-primary-dark-mode:	$gray-800;
$card-background-secondary-dark-mode:	$gray-900;
$card-color-dark-mode:				$white;

// DEFAULT TEXT SIZES & SPACING

$p-font-size-base:					14px;
$p-font-size-base-xs:				$p-font-size-base;
$p-font-size-base-sm:				14px;
$p-font-size-base-md:				16px;
$p-font-size-base-lg:				18px;
$p-font-size-base-xl:				18px;

$p-line-height-base:					$p-font-size-base + ($p-font-size-base / 3);
$p-line-height-base-xs:				$p-line-height-base;
$p-line-height-base-sm:				$p-font-size-base-sm + ($p-font-size-base-sm / 3);
$p-line-height-base-md:				$p-font-size-base-md + ($p-font-size-base-md / 3);
$p-line-height-base-lg:				$p-font-size-base-lg + ($p-font-size-base-lg / 4);
$p-line-height-base-xl:				$p-font-size-base-xl + ($p-font-size-base-xl / 4);

$p-margin-top:						$p-font-size-base;
$p-margin-top-xs:					$p-font-size-base-xs;
$p-margin-top-sm:					$p-font-size-base-sm;
$p-margin-top-md:					$p-font-size-base-md;
$p-margin-top-lg:					$p-font-size-base-lg;
$p-margin-top-xl:					$p-font-size-base-xl;

$p-margin-bottom:					$p-font-size-base;
$p-margin-bottom-xs:					$p-font-size-base-xs;
$p-margin-bottom-sm:					$p-font-size-base-sm;
$p-margin-bottom-md:					$p-font-size-base-md;
$p-margin-bottom-lg:					$p-font-size-base-lg;
$p-margin-bottom-xl:					$p-font-size-base-xl;

$p-padding-top:						$p-font-size-base;
$p-padding-top-xs:					$p-font-size-base-xs;
$p-padding-top-sm:					$p-font-size-base-sm;
$p-padding-top-md:					$p-font-size-base-md;
$p-padding-top-lg:					$p-font-size-base-lg;
$p-padding-top-xl:					$p-font-size-base-xl;

$p-padding-bottom:					$p-font-size-base;
$p-padding-bottom-xs:				$p-font-size-base-xs;
$p-padding-bottom-sm:				$p-font-size-base-sm;
$p-padding-bottom-md:				$p-font-size-base-md;
$p-padding-bottom-lg:				$p-font-size-base-lg;
$p-padding-bottom-xl:				$p-font-size-base-xl;

$p-font-weight:						normal;




// BREAKPOINT VALUES

$xs: 	 							0;
$sm: 	 							600px;
$md: 	 							768px;
$lg: 	 							1000px;
$xl: 	 							1200px;


// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.

$container-xs: 	 					320px;
$container-sm: 	 					560px;
$container-md: 	 					600px;
$container-lg: 	 					800px;
$container-xl: 	 					900px;

$container-padding: 	 				20px;

// Fonts
//
// Font, line-height, and color for body text, headings, and more.

// stylelint-disable value-keyword-case
$font-family-sans-serif:      		-apple-system, BlinkMacSystemFont, "Helvetica Neue", "Helvetica", Roboto, "Segoe UI", Arial, sans-serif !default;
$font-family-monospace:       		SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
$font-family-base:            		$font-family-sans-serif !default;

$font-feature-settings:				"ss02", "tnum", "liga", "zero", "kern";
$sup-font-feature-settings:			"ss02", "tnum", "liga", "zero", "kern", "frac";