---
layout: default
---

<!-- The video -->
<video autoplay muted loop id="myVideo">
  <source src="{{ site.baseurl | append: '/assets/video/esc-loop.m4v' }}" type="video/mp4">
</video>

<header id="app-header" class="site-intro show">
	
	<div class="site-intro-content">
	
	<h1>Welcome to your ESC Scoreboard</h1>
	
	<p>After each country has performed, cast your vote at</p>
	
	<p><a class="link" href="https://forms.gle/kP17aV2H6ZLyeFVM6">forms.gle/kP17aV2H6ZLyeFVM6</a></p>
	
	<p>You should vote once for each country. You can award 0, 1, 2, 3, 4, 5, 6, 7, 8, 10, or 12 points for each performance. The scoreboard will update with the average of everyone's scores.</p>
	
	<p>Scores update automatically every 30 seconds; you <strong>do not</strong> need to refresh the page.</p>
	
	<p><a href="javascript:void(0);" onclick="toggleViews();" class="button">Show the scoreboard</a></p>
	
	</div>
	
</header>

<main id="app-main" class="container hide">
	
	<section id="grid" class="container">
		
		<header class="grid-header">
	
			<img class="header" src="{{ site.baseurl | append: '/assets/images/site/header.svg' }}">
	
		</header>
		
	{% for entry in site.data.data %}
	
		<div class="grid-entry">
			
			<span class="grid-entry--running-order">#{{ entry.RunningOrder }}</span>
			<span class="grid-entry--name">{{ entry.Name }}</span>
			<span id="entry-{{ entry.Name | remove: " " }}" class="grid-entry--house-score"></span>
			
		</div>
	
	{% endfor %}
	
	</section>
	
</main>
