---
layout: default
---

<!-- The video -->
<video autoplay muted loop id="myVideo">
    <source src="{{ site.baseurl | append: '/assets/video/esc-loop.m4v' }}" type="video/mp4">
</video>

<header id="app-header" class="site-intro">

    <div class="site-intro-content">

        <h1>Welcome to our Lock-down Eurovision 2020 Scoreboard</h1>

        <p>After each country has performed, cast your vote:</p>

        <p><a class="link" target="_blank" href="https://bit.ly/eurovision2020v">Vote for best in 2020</a></p>
        <p><a class="link" target="_blank" href="https://forms.gle/qaVaDqvtZcjtm8Mw5">Vote for Best All-Time</a></p>

        <p>You should vote once for each country. You can award 0, 1, 2, 3, 4, 5, 6, 7, 8, 10, or 12 points for each
            performance. The scoreboard will update with the average of everyone's scores.</p>

        <p>Scores update automatically every 30 seconds; you <strong>do not</strong> need to refresh the page.</p>

        <p><a href="/vote2020" class="button">Show the 2020 scoreboard</a></p>
        <p><a href="/voteAll" class="button">Show the All-Time scoreboard</a></p>

    </div>

</header>

