---
layout: default
---

<script type="text/javascript" src="{{ site.url | append: site.baseurl | append: site.js-path | append: '/scripts.js' }}"></script>
<script type="text/javascript">
    window.onload = function() {
        loadScript("https://spreadsheets.google.com/feeds/cells/1W1DIQFOD-YSPzaZHvX0ct1TqI6j0E4AqGtyy0XUBHH8/1/public/basic?alt=json-in-script&callback=onDataLoaded", getNewData)
    };

    function getNewData() {
        setInterval(
            function(){
                loadScript("https://spreadsheets.google.com/feeds/cells/1W1DIQFOD-YSPzaZHvX0ct1TqI6j0E4AqGtyy0XUBHH8/1/public/basic?alt=json-in-script&callback=onDataLoaded")
                console.log("Updated data");
            },
            30000);
    }
    var i=0;
    var onDataLoaded = (data) => {

        {% for entry in site.data.dataAll %}
        var s{{ entry.RunningOrder }} = data.feed.entry.find((entry) => entry.title.$t == 'G{{ entry.CellReference }}').content.$t;
        document.getElementById('entry-{{ entry.Name | remove: " " }}').innerHTML = s{{ entry.RunningOrder }};
        var p{{ entry.RunningOrder }} = data.feed.entry.find((entry) => entry.title.$t == 'H{{ entry.CellReference }}').content.$t;
        document.getElementById('place-{{ entry.Name | remove: " " }}').innerHTML = '#'+p{{ entry.RunningOrder }};
        i++;
        {% endfor %}

    }
</script>
<!-- The video -->
<video autoplay muted loop id="myVideo">
    <source src="{{ site.baseurl | append: '/assets/video/esc-loop.m4v' }}" type="video/mp4">
</video>

<main id="app-main" class="container">

    <section id="gridAll" class="container">

        <header class="grid-header" style="overflow: hidden">

            <img class="header" src="{{ site.baseurl | append: '/assets/images/site/header.svg' }}">

        </header>

        {% for entry in site.data.dataAll %}

        <div class="grid-entry">

            <span id="place-{{ entry.Name | remove: " " }}" class="grid-entry--running-order">#?</span>
            <span class="grid-entry--name">{{ entry.Name }}</span>
            <span id="entry-{{ entry.Name | remove: " " }}" class="grid-entry--house-score"></span>

        </div>

        {% endfor %}

    </section>

</main>
